body {
  background: #fff;
}
div.content { margin: 0; }
h1 { padding: 0.2em 0.3em;}
h1.good { 
  background-color:green;
  color: white;
}
h1.bad {
  background-color:red;
  color: white;
}
h2 { clear:left; }
table td { width:200px; }
table tr { vertical-align:top; }
div.story {
  border:1px solid black;
  width:200px;
  padding:0.4em 1em;
  float:left; 
  margin:0 0.4em 0.4em 0;
  height:8em;
  position:relative;
}
div.story span {
  float: right;
}
div.story a {
  text-decoration: none;
  color:inherit;
  padding-left:4px;
}
div.story p.footer {
  position:absolute;
  width:92%;
  bottom: 0;
}
div.done { background-color: #eafff4; }
div.started { background-color: #ffffdd; }
span.owner { 
  font-family:Monospace;
}
div.activities { clear:both; }
div.activity { margin: 0 0 1em 0;}
