- if story
  .story{:class => story_class(story)}
    %p.header{:class => story.current_state}
      =image_tag(icon_url(story))
      %a{:href=>story.url,:target=>'_blank'}
        =story.id
      %span
        -if story.estimate == -1
          Not Estimated
        -else
          ="#{story.estimate} points" unless story.estimate.blank?
    %p.body
      =story.name
    %p.footer
      #{story.project.name} / #{story.first_label}
      %span.owner
        =story.owned_by
      =story.current_state