.stories
  %table.kanban
    %tr
      %td
        %h2 Upcoming
        - if @stories['unstarted']
          =render :partial => 'story', :collection => @stories['unstarted']
        - else
          No more stories in current iteration.
      %td
        %h2 In Progress
        - if @stories['started']
          =render :partial => 'story', :collection => @stories['started']
        - else
          All stories in current iteration have been delivered.
      %td
        %h2 Pending Acceptance
        - if @stories['delivered']
          =render :partial => 'story', :collection => @stories['delivered']
        - else
          All stories in current iteration have been accepted.
      %td.last
        %h2 Ready for Release
        =render :partial => 'story', :collection => @pending
        - PIVOTAL_PROJECTS.each do |project_id|
          =render :partial => 'story', :collection => Story.pending_release(project_id)
