%h1{:class => build_state(@build_feed)}
  = build_status(@build_feed)
.stories
  %table
    %tr
      %td
        %h2 Committed
        - @stories['unstarted'].each do |story|
          =render(:partial=>'story',:locals=>{:story=>story})
      %td
        %h2 In Progress
        - @stories['started'].each do |story|
          =render(:partial=>'story',:locals=>{:story=>story})
      %td
        %h2 Pending Acceptance
        - @stories['delivered'].each do |story|
          =render(:partial=>'story',:locals=>{:story=>story})
      %td
        %h2 Ready for Release
        - PIVOTAL_PROJECTS.each do |project_id|
          -Story.pending_release(project_id).each do |story|
            =render(:partial=>'story',:locals=>{:story=>story})
