.stories
  %table.kanban
    %tr
      %td
        %h2 Upcoming
        =render :partial => 'story', :collection => @stories['unstarted']
      %td
        %h2 In Progress
        =render :partial => 'story', :collection => @stories['started']
      %td
        %h2 Pending Acceptance
        =render :partial => 'story', :collection => @stories['delivered']
      %td.last
        %h2 Ready for Release
        =render :partial => 'story', :collection => @pending
        - PIVOTAL_PROJECTS.each do |project_id|
          =render :partial => 'story', :collection => Story.pending_release(project_id)
